body {
  background: #858484;
  margin: 0;
  padding: 35px 0 0 0;
  font: 10.5pt/1.3em "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0px;
}

h1#logo {
  float:left; width:auto;
} 
#logo a:hover {background:none;}     

img {
  border: none;
}

/* General text styling */

h2 { 
  color: #000; 
  font-weight: normal;
  margin: 18px 0 28px 0;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", Helvetica, Arial;
  font-size: 160%;
}

h3 { 
  color: #336; 
  font-family: Helvetica, Arial, Verdana;
  font-weight: normal;
}

h4 {
  
}

a { 
  color: #f33;
  text-decoration:none;
}

a:hover {
  color: #000;
  background: #f33;
}

blockquote a {
  text-decoration: none;
  border: none;
  color: #999;
}

blockquote a:hover {
  background: none;
}

a img:hover {
  background: none;
}

p {
  line-height:1.3;
  margin:0 0 10px 0;
  text-align: justify;
}

p.note, span.note {
  color: #585858 !important;
}

.note-light {
  color: #999 !important;
}

div.box {
  border: 1px solid #d6d6d6;
  background: #f6f6f7 url('images/box-bg.gif') top left repeat-x;
  padding: 6px 9px;
  margin: 20px 0;
  font-size: 90%;
}

div.box ul li {
  list-style-image: url('images/bullet-red-mini.gif');
  margin: 5px 0;
}

div.box h4 {
  font-size: 120%;
  font-weight: normal;
  margin: 5px 0 15px 0;
}

strong {
  color: #000;
  font-weight: bold;
}

em {
  font-style: italic;
  font-weight: bold;
}

ul {
  padding: 0 0 0 18px;
  margin-left: 0;
}

ul li {
  list-style-image: url('images/bullet-red.gif');
  margin: 7px 0;
}

dl {
  margin: 25px 0;
}

dd {
  margin: 10px 0;
}

/* END General text styling */

#search {
  margin: 0;
  padding: 0px 16px;
  color:#fff;
}
#searchResults .gsc-control{
  width:100%;
}
#search-content{
  min-height:30px;
}

#search #submit {
  background: #3a3a3a;
  border: none;
  border-top: 1px solid #555;
  border-bottom: 1px solid #222;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  font-size: 8pt;
  color: #ccc;
  height: 20px;
  margin-top: 9px;
  cursor: pointer;
}

#search #submit:hover {
  background: #404040;
}

#search form {
  float: left;
}

#container {
  background: #fff url('images/content.gif') top left repeat-y;
  margin:0 auto;
  width:907px;
}

#container-top{
  background: url('images/top.gif') top left no-repeat;
  height: 10px;
}
#container-bottom{
  background: url('images/bottom.gif') bottom left no-repeat;
  height: 20px;
}

#hd {
  height: 230px;
}

#hd a {
  text-decoration: none;
  color: #f33;
}

#hd a:hover {
  background: transparent;
}

#hd h1 {
  color: #f33;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 21pt;
  line-height: 21pt;  
  margin: 15px 0 0 0;
}

#hd p {
  color: #133862;
  font-size: 12pt;
  line-height: 1.3em;
  font-family: "Helvetica", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

#hd .button {
  color: #fff;
  width: 187px;
  height: 29px;
  text-align: center;
  background: url('images/button-bg.png') top left no-repeat;
  padding-top: 8px;
  cursor: pointer;
  font-size: 9pt;
}

#hd .button.right {
  position: relative;
  left: 610px;
}

#hd .button.center {
  position: relative;
  left: 310px;
}

#hd .button:hover {
  background-position: 0 -37px;
  color: #e9f6ff;
}

#hd .button:hover a {
  color: #e9f6ff;
}

#hd .button.gap {
  margin: 25px 0 15px 0;
}


/* ----------------------------- */

#signup-block {
  background: url('images/signup-box-bg.gif') top left no-repeat;
  width: 518px;
  height: 103px;
  margin-bottom: 14px;
  font-size: 12pt;
  color: #000;
  padding: 10px;
}

#signup-block #link-group {
  background: url('images/shopify_bag.gif') center left no-repeat;
  padding-left: 60px;
  height: 108px;
}

#signup-block #signup-link {
  background: url('images/signup-bg.gif') top left no-repeat;
  width: 192px;
  height: 23px;
  display: block;
  float: left;
  padding: 9px;
  text-align: center;
  margin: 15px 0 12px 10px;
}

#signup-block #link-tail {
  padding: 9px;
  float: left;
  height: 23px;
  display: block;
  margin: 15px 0 12px 0;
}

#signup-block .big {
  font-size: 15pt !important;
  color: #4f7000;
  text-decoration: none;
}

#signup-block .big:hover {
  text-decoration: underline;
  background: transparent;
  color: #6e9c01;
}

#signup-block .note {
  margin: 0 0 0 25px;
  font-size: 9pt;
}

/* video player */
#player, .player {
  margin: 0 0 40px 0; 
  width: 482px; 
  background: #f5f5f5 url('images/player-bg.gif') top left repeat-x; 
  padding: 18px;
  border-bottom: 1px solid #eee;
}

.player {
  width: 770px;
  margin-bottom: 0;
}

#player-desc {
  color: #fff;
  position: relative;
  text-align: center;
  top: 100px;
}

#player-desc a {
  color: #eb7;
}

#screencasts ul {

}

#screencasts li {
  list-style-image: none;
  list-style-type: none;
}

blockquote#frontquote {
  font-size: 16pt;
  color: #f33;
  font-weight: normal;
  line-height: 22pt;
  margin: 0 auto 0 auto;
  float:right;
}

.be-berlin{
  background: #fff url('images/be_berlin.gif') no-repeat scroll top left;
  height:160px;
  padding:20px;
  width:360px;
  color:#f33;
  float:right;
}
.be-berlin ul{

}
.be-berlin ul li{
  list-style:none;
  font-size:182%;
  margin-bottom:10px;
}

#navigation {
  background: url('images/navigation-bg.gif') top left no-repeat;
  font: 13px/1.2 Verdana, sans-serif;
  width: 808px;
  height: 43px;
  margin: 0 auto 15px;
}

#navigation ul {
  margin: 0;
}

#navigation a:hover {
  background: none;
}

#navigation ul {
  list-style-type: none;
  padding: 14px;
}

#navigation li {
  display: inline;
  margin: 0 10px;
}

#navigation li a {
  color: #bbb;
  text-decoration: none;
}

#navigation li.active a, #navigation li a:hover, #navigation li.active {
  color: #fff;
}

.sidebar {
  background: transparent url('images/sidebar-bg.gif') top left repeat-x;
  border-bottom: 1px solid #eee;
}

.sidebar h3 {
  font-size: 93%;
  color: #f33;
}

.sidebar .note {
  text-align: left; 
  margin: 0 50px 0 40px; 
  font-size: 11px;
}

.content {
  padding: 20px 35px;
}

#ft{
  padding: 1em;
}

.grey-content {
  background: #3c3c3c url('images/grey-bg.gif') bottom left repeat-x;
  border-top: 1px solid #1e1e1e;
  color: #fff;
  font: 10pt/1.3em "Helvetica Neue Light", "HelveticaNeue-Light", Helvetica, Arial;  
  letter-spacing: 0.8pt;
}

.grey-content h2 {
  color: #fee56f;
}

.grey-content a {
  color: #fee56f;
}

.grey-content a:hover {
  background: #333;
  color: #eb891f;
}

#ft {
  background: #464646;
  border-top: 1px solid #323232;
  margin: 20px 0 0 0;
  padding: 10px 0;
  text-align: center;
  font-size: 85%;
  color: #999;
}

#ft ul {
  list-style-type: none;
  padding: 0;
}

#ft li {
  display: inline;
}

#ft li a {
  color: #e9f7b3;
}

#ft li a:hover {
  color: #fff;
  background: none;
}

#ft p{
  text-align:center;
}

div.blue-notice {
  background: #b2cbe7 url('images/blue-notice-top.gif') top left no-repeat;
  padding: 10px 10px 0 10px;
  width: 343px;
  font: 1.0em/1.3em Helvetica, Arial;
}

div.blue-notice-bottom {
  background: url('images/blue-notice-bottom.gif') bottom left no-repeat;
  height: 11px;
  margin-bottom: 40px;
}

div.blue-notice h2 {
  color: #fff;
  font-weight: normal;
  margin-top: 10px;
  font-size: 200%;
  margin-bottom: 0;
}

div.blue-notice p {
  margin-bottom: 0;
}

div.blue-notice p.big {
  margin-top: 30px;
}

div.blue-notice a {
  text-decoration: none;
}

ul.info-list {
  margin-top: 0;
  font: 9pt/1.4em "Trebuchet MS", Helvetica, Arial;
  list-style-type: none;
}

ul.info-list li {
  list-style-image: none;
}

ul.info-list h3 {
  margin: 0 0 4px 0;
  font-size: 10pt;
}

ul.info-list p {
 margin: 5px 0; 
}

ul.info-list li {
  background: url('images/list-item-bg.gif') bottom left repeat-x;
  border-bottom: 1px solid #efefef;
  padding: 5px 10px;
}



/* DESIGN */


#content-bottom {
  background: url('images/content-bottom-bg.gif') top left repeat-x;
  border-top: 1px solid #858585;
  margin: 10px;
  padding: 10px 80px 0 80px;
  overflow: hidden;
}

#content-bottom h3 {
  color: #fff;
  text-align: center;
}

.hint {
  font-size: 80%;
  color: #999;
}

.big {
  font-size: 140%;
}

.top-right-link {
  float: right;
  margin-top: 0;
}

.top-right-link a {
  color: #f33;
}

.top-right-link span {
  font-size: 90%;
}

.special-link {
  margin-top: 30px;
  width: 335px;
  background: #dfe9f4;
  padding: 5px 15px;
  text-align: center;
  border: 1px solid #b2cbe7;
}

.special-link a {
  color: #000;
}

.special-link a:hover {
  color: #5b2d08;
}

.more-link {
  text-align: right;
  font-size: 90%;
}

.highlight {
  background: #fcffbf;
  color: #666;
  padding: 3px 6px;
}

a.highlight {
  color: #000;
}

a:hover.highlight {
  color: #333;
  background: #fff;
}

.blue-box {
  background: #c8d6da url('images/blue-box-bg.gif') top left repeat-x;
  border: 1px solid #b8c4c7;
  padding: 5px 10px;
  text-align: center;
}

p.small {
  font-size: 9pt;
  margin: 14px 0 0 0;
  text-align: right;
  position: relative;
  right: 40px;
}

.button {
  margin-top: 30px;
  text-align: right;
}

.button a {
  background: #344d5b;
  border-top: 1px solid #426274;
  border-bottom: 1px solid #1e2c34;
  padding: 3px 20px;
  color: #fff;
  font-size: 12pt;
  font-weight: normal;
  text-decoration: none;
}

.button a:hover {
  background: #3e5d6e;
}

.no-border {
  border: none !important;
}

.unstyled-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fl {
  float: left;
}

.cl {
  clear: left;
}

.sb { 
  margin-bottom: 20px;
}

.st {
  margin-top: 20px;
}

.ns {
  margin: 0;
  padding: 0;
}

.c {
  text-align: center;
}

.r {
  text-align: right;
}

/* ABOUT PAGE */

.person {
  width: 680px;
  height: 240px;
  margin: 0;
  padding: 0;
}

.person-desc {
  width: 500px; 
  margin-left: 125px;
}

#new-people-navigation .feature {
  color: #ccc;
  cursor: pointer;
}

#new-people-navigation .feature:hover {
  color: #666;
}

#new-people-navigation .active {
  color: #333;
}

#first-slide img {
  cursor: pointer;
}

#first-slide .title {
  font-size: 11px;
  color: #666;
}

#first-slide td {
  text-align: center;
  width: 150px;
}

.people-slides h3 {
  color: #000;
  margin-top: 3px;
}

.people-slides .title {
  color: #999;
}

#people-navigation .feature {
  float: left;
  width: 100px;
  height: 28px;
  margin: 0 7px 5px 0px;
  cursor: pointer;
  background: url('../images/name-bg.gif') top left repeat-x;
  color: #fff;
  text-align: center;
  padding-top: 4px;
  font-size: 12px;
}

#people-navigation .feature:hover {
  color: #ccc;
}

#people-navigation .active {
  background: url('../images/name-bg-active.gif') top left repeat-x !important;
  color: #f8f2cd;
}

#people-navigation .active:hover {
  cursor: default;
}



#team-table {
  margin: 20px 0;
}

#team-table td {
  padding: 0 20px 0 10px;
  font-size: 11px;
}

#team-table td.portrait-col {
  text-align: center;
  width: 160px;
}

ul#slides.people-slides {
  height: 300px !important;
}

#slides .portrait, #team-table .portrait {
  background: #fafafa url('../images/box-bg2.gif') top left repeat-x;
  border: 1px solid #ccc;
  width: 147px;
  float: left;
  margin-right: 20px;
}

#slides .wrapper, #team-table .wrapper {
  padding: 10px;
  border: 1px solid #fff;
  width: 125px;
  height: 188px;
}

/* SLIMBOX */

#lbOverlay {
  position: absolute;
  z-index: 9999;
  left: 0;
  width: 100%;
  background-color: #000;
  cursor: pointer;
}

#lbCenter, #lbBottomContainer {
  position: absolute;
  z-index: 9999;
  left: 50%;
  overflow: hidden;
  background-color: #fff;
}

.spinner {
  background: #fff url(images/loading.gif) no-repeat center;
}

#spinner {
  position: absolute;
  left: 0;
  top: 0;
  border: 10px solid #fff;
  background-repeat: no-repeat;
}

/*design stuff*/

#hd{
  background:transparent url(images/jan.jpg) no-repeat scroll 230px -14px;
}