<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
      {{ page.title }} / jan riethmayer
    </title>
     <link href="http://feeds.feedburner.com/riethmayer" rel="alternate" title="Jan Riethmayer" type="application/atom+xml" />
     <link rel="shortcut icon" type="image/x-icon" href="http://riethmayer.de/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css" title="yui grids" charset="utf-8"/>
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="stylesheet" href="/css/style1/screen.css" type="text/css" media="all" charset="utf-8">
    <meta name="author" content="Jan Riethmayer" />
  </head>
  <body>
    <div id="container">
      <div id="container-top"></div>
      <div id="doc" class="yui-t5">
        <div id="hd">
          <div class="be-berlin">
            <ul>
              <li><em>be</em> web</li>
              <li><em>be</em> developer</li>
              <li class='last'><em>be</em> berlin</li>
            </ul>
          </div>
          <div id="header">
            <h1>
              <a href="http://riethmayer.de/"><em>jan</em> riethmayer</a>
            </h1>
            <h2>{{ page.title }}</h2>
          </div>
        </div>
        <div id="navigation">
          <ul>
            <li>
              <a href="/index.html">blog</a>
            </li>
            <!-- <li>
              <a href="about_me.html">about-me</a>
            </li>
            <li>
              <a href="projects.html">projects</a>
            </li>
            <li>
              <a href="imprint.html">imprint</a>
            </li> -->
          </ul>
        </div>
        <div id="bd">
          <div id="yui-main"><!-- content main -->
            <div class="yui-b">
              <div id="content-bottom">
                {{ content }}
              </div>
            </div>
          </div><!-- content main -->
          <div class="yui-b"> <!-- content sidebar -->
            <div class="sidebar">
              <h3>Search this site</h3>
              <div id="search">
                <div id="searchForm">Loading...</div>
              </div>
              <div id="search-content">
                <div id="searchResults">Loading...</div>
              </div>
              &nbsp;
            </div>
            <div class="sidebar">
              <h3>Leave a comment</h3>
              <a href="{{ page.url }}#disqus_thread">View Comments</a>
              <div id="disqus_thread"></div>
              <script type="text/javascript" src="http://disqus.com/forums/riethmayer/embed.js">
              </script>
            </div>
          </div> <!-- content sidebar -->
        </div> 
      </div> <!-- end of yui -->
      <div id="container-bottom"></div>
    </div>
    <div id="ft">
      <ul>
        <li>
          <a href="/index.html">blog</a>
        </li>
      </ul>
      <p>Inhaltlich verantwortlich: Jan Riethmayer, Mindener Str. 20, 10589 Berlin.</p>
      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/de/">
          <img alt="Creative Commons License" style="border-width:0"
               src="http://creativecommons.org/images/public/somerights20.png" />
        </a><br />
        Dieser Werk bzw. Inhalt ist unter einer 
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/de/">
          Creative Commons-Lizenz
        </a> lizenziert. 2009 – Jan Riethmayer
      </p>
    </div>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>

    <script language="Javascript" type="text/javascript">//<![CDATA[
    google.load('search', '1');
    
    function OnLoad() {
      // create a search control
      
      var searchControl = new google.search.SearchControl();
      // Add in a WebSearch
      var webSearch = new google.search.WebSearch();
      // Restrict our search to pages from the Cartoon Newtowrk
      webSearch.setSiteRestriction('riethmayer.de');
      // create a draw options object so that we
      // can position the search form root
      
      var options = new google.search.DrawOptions();
      options.setSearchFormRoot(document.getElementById("searchForm"));
    
      // populate with searchers
      // Add the searcher to the SearchControl
      searchControl.addSearcher(webSearch);
      searchControl.addSearcher(new google.search.WebSearch());
      searchControl.draw(document.getElementById("searchResults"), options);
      searchControl.execute("");
    }
    google.setOnLoadCallback(OnLoad);
    //]]>
    </script>
    
  </body>
</html>
